* {
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 'header''sidebar' 'main'
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
}

main {
    grid-area: main;
}
 /* header styling */
 header {
    background-color: rgb(126, 126, 126);
 }

.title {
    color: white;
    padding: 20px;
}


.heading {
    float: right;
    margin-top: -80px;
    margin-right: 110px;
}

.bell {
    font-size:30px;
    margin:5px;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
}

.bell:hover {
 font-size: 40px;
 transform: scale(1.5);
}


.name {
    float: right;
    margin-top: -65px;
    margin-right: 10px;
}

/* navigation bar */
nav {
    background-color: rgb(48, 48, 48);
    position: relative;
    top: 10px;
}

.dashboard, .dashboard-img {
    margin-right: 63px;
    position: relative;
    right: -20px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    display: inline;
    margin-right: 77px;
    position: relative;
    right: -5px;
}
  
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.linechart-buttons ul {
    background-color: white;
}

/* main content */

h2 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 1px solid #ccc;
    width: 80%;
    position: relative;
    right: -40px;
}

.top-search {
    color: grey;
    margin-top: -50px;
    margin-right: 20px;
    outline-color: black;
}

.alert {
    padding: 20px;
    background-color: rgb(126, 126, 126);
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    width: 80%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.linechart-buttons {
    float: right;
    width: 65%;
    margin-top: 70px;
    margin-right: -100px;
}

.linechart-buttons ul li {
    display: inline-block;
    font-size: 0.3em;
    color: grey;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1px;
    margin-left: -3px;
}

.linechart-buttons ul {
    width: 57%;
}

.line-container {
    max-width: 85%;
    position: relative;
}

    
#line-chart{
    width: 80px;
    position: absolute;
    right: -30px;
    top: 60px;
}

.bar-container {
    max-height: 200px;
    max-width: 350px;
    position: relative;
}
    
    
#bar-chart{
    height: 200px;
    width: 100px;
    position: absolute;
    right: -20px;
    top: 280px;
}

.pie-container {
    max-height: 200px;
    max-width: 600px;
    position: relative;
}


#pie-chart {
    height: 200px;
    width: 100px;
    position: absolute;
    right: -10px;
    top: 480px;
}

.social {
    display: flex;
    flex-direction: column;
    margin-top: 700px;
    margin-left: 30px;
    padding: 20px 0;
    width: 100%;
}

div.stats {
    position: relative;
    top: 50px;
    left: 120px;
}

.widget {
    border:2px solid;
    border-radius: 5;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-right: 50px;
}

.details {
    padding: 20px;
    margin-bottom: -10px;
    color: rgb(126, 126, 126);
}

.details span {
    font-size: 2.3em;
    line-height: 1;
}

.widget img {
    width: 90px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 250px;
    background: url(URL) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-color: rgb(126, 126, 126);
}

.box-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
}

.box-row div {
    flex: 1 auto;
}

.date {
    align-self: center;
}

.photo {
    margin-right: .9em;
    margin-bottom: .7em;
    text-align: center;
}

a {
    text-decoration: none;
}

.arrow {
    margin-left: 10px;
    font-size: 2em;
    color:#2e4568;
}

.info {
    margin-left: -80px;
    font-size: 10px;
}

.date {
    font-size: 1em;
    margin-left: 150px;
    position: relative;
    top: -30px;
}

#search-user-field {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-left: -40px;
}

div.input-search {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

textarea#message-user-field {
    width:80%;
    padding-top: 8px;
    padding-left: 8px;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



button#message-submit.send-button {
    width:80%;
    padding: 8px;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #a6a7a8;
    color: #fff;
    font-weight:600;
    border-radius: 5px;
    border-style: none;
    letter-spacing: 2px;
    margin-top: 80px;
}

button#message-submit.send-button:hover {
    cursor: pointer;
    background-color: rgb(126, 126, 126);
}

div.message-submit {
    text-align: center;
}

#timezone {
    border: 1px solid #b2b2b2;
    width: 90%;
    padding: 5px;
    margin: 15px auto;
    margin-top: 2em;
    height: 40px;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    background: #f9f9f9;
    transition: background-color .25s ease-out;
    color: #cecece;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.button-confirm,
.button-cancel {
    color: #FFF;
    display: block;
    width: 50%;
    padding: .75em;
    margin: 0 auto;
    background-color: #a6a7a8;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.button-cancel {
    background-color: #a6a7a8;
}

.widget-container {
    width: 80%;
    margin: 0 auto;
}

.mobile-users-container {
    width: 80vw;
}

.daily-traffic-container {
    width: 80vw;
}

.form-setting-container {
    margin-bottom: 4em;
}

.form-setting-container .message-user {
    margin-left: 65px;
}

#messageConfirm p,
#messageError p,
#saveConfirm {
    background-color: grey;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 5px;
    color: #fff;
    padding: 5px 0px;
}

#saveConfirm {
    padding: 5px;
    width: 85%;
    text-align: center;
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    padding-left: 30%;
}

.traffic-options a {
    padding-right: 2em;
    padding-left: 2em;
}

.chart-container{
    border: none;
}

.all-members {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: solid #d1d1d1 .5px;
}



.new-members {
   margin-left: -190px;
   width: 85%;
}

.recent-activity {
    margin-top: 750px;
    margin-left: -710px;
    width: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:after {
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {  
    content:'ON';
}



.form-setting-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-top: solid #d1d1d1 .5px;
    margin-top: 2em;
}

.form-container {
    width: 50%;
    border-radius: 5px;
    margin-top: 2em;
    padding-bottom: 42px;
}

.widget-container {
    width: 50%;
    padding-bottom: 36px;
    padding-left: 35px;
}

@media (min-width: 768px) {

    .dashboard, .dashboard-img {
        margin-right: 160px;
        position: relative;
        right: -60px;
    }
    

    .top-search {
        margin-left: 30px;
    }

    .alert {
        margin-left: 69px;
    }

    .bar-container {
        max-width: 600px;
    }

    #bar-chart {
        margin-top: 200px;
        margin-right: -50px;
    }
    
    #pie-chart {
        margin-top: 320px;
        margin-right: -60px;
    }

    .social {
        margin-top: 1090px;
    }

    div.stats {
        position: relative;
        left: 20px;
    }

    .new-members {
        margin-left: 10px;
    }

    .recent-activity {
        position: relative;
        left: -180px;
    }

    .linechart-buttons ul li {
        margin-left: 42px;
    }

}

@media (min-width: 1024px) {
    .heading {
        margin-right: 150px;
    }

    .profile-avatar {
        position: fixed;
        display: block;
    }
    
    .bell {
        padding-right: 50px;
    }

    .name {
        margin-right: 30px;
    }

    nav {
        background-color: rgb(48, 48, 48);
        width: 150px;
        margin-top: -10px;
        height: 1000px;
    }


    .dashboard {
        margin-top: -130px;
    }
    
    li {
        display: block;
        width: 60px;
        height: 200px;
        padding: 10px;
    }
    
    
    .members, .visits, .settings {
        margin-top: -130px;
    }

    h2 {
        margin-top: -980px;
        margin-right: 800px;
    }

    input {
        float: right;
        border: 1px solid #ccc;
        width: 400px;
        padding: 8px;
        position: relative;
        left: -1px;
    }

    .alert {
        margin-bottom: 15px;
        margin-left: 170px;
        width: 1070px;
    }

    .linechart-buttons ul {
        margin-top: -900px;
        margin-left: 300px;
    }
    
    .linechart-buttons ul li {
        padding: 5;
        font-size: 0.8em;
        padding: 2px 10px;
        border-radius: px;
        cursor: pointer;
    }

    #line-chart {
        width: 5px;
        position: absolute;
        left: 170px;
        top: 20px;
    }

  
    #bar-chart {
        position: absolute;
        right: -130px;
        top: 350px;
    }

    #pie-chart {
        position: absolute;
        right: -700px;
        top: 230px;
    }

    .social {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        padding: 50px;
        position: relative;
        top: -150px;
    }

    div.stats {
        margin-top: -30px;
        position: relative;
        left: 100px;
    }

    .box-row {
        border: solid #d1d1d1 1px;
        width: 80%;
       margin: auto;
    }

    .info {
        margin-left: -150px;
    }
    
    textarea#message-user-field {
        margin-left: 63px;
    }
    
    .new-members {
        margin-right: 700px;
        width: 50%;
        border-right: solid #d1d1d1 .5px;
    }

    .recent-activity {
        margin-top: 1px;
        position: relative;
        left: 20px;
    }
    

    .form-setting-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    div.input-search {
        margin-right: 65px;
    }
    
    .widget-container {
        border-left: solid #d1d1d1 .5px;
    }
}





